# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# test routes
# pages/Production/interfaces/IDesign
# pages/Production/interfaces/IHomePageDesigns
# pages/Production/interfaces/modal-properties
# pages/app/context/MdxComponents
# pages/app/context/wishlist
# pages/app/features/UserContext
# pages/app/features
# pages/app/state/actions
# pages/app/state/progressing
# pages/app/state/progressing/useProgressStore
# pages/app/state/slices/loginSlice
# pages/app/state/store
# pages/app/state/stores/store
# pages/blur-test-3
# pages/blur-test-2
# pages/index-test
# pages/gradient-testing
# pages/listings/[slug]
# pages/motion-testing
# pages/orders
# pages/product-listings
# pages/products
# pages/routes/protected/admin/dashboard
# pages/routes/protected/admin/users
# pages/routes/protected/creator/documents
# pages/routes/protected/creator/studio
# pages/routes/protected/creator/synced-products
# pages/server/hooks/reduxHooks
# pages/server/hooks/useSnipcartCount
# pages/server/lib/calculate-taxes
# pages/server/lib/create-order
# pages/server/lib/format-variant-name
# pages/server/lib/has-snipcart
# pages/server/lib/has-stripe
# pages/server/lib/fetch-shipping-rates
# pages/server/lib/printful-client
# pages/server/lib/password-auth
# pages/server/lib/stripe-client
# pages/server/middlewares/checkAccess
# pages/server/middlewares
# pages/server/middlewares/userAuth
# pages/server/services/accesscontrol
# pages/server/services
# pages/server/types/listing
# pages/server/lib/printful-request
# pages/server/utils/constants
# pages/server/utils/mdxUtils
# pages/server/utils/isActiveLink
# pages/src/components/EntityCreation/entity.data
# pages/src/components/LandingPage
# pages/src/components/Payments/OnboardingForm
# pages/src/components/Printful/format-product-variant-name
# pages/src/components/ProductListings/Colors
# pages/src/components/ProductListings/LangMenu
# pages/src/components/ProductListings/LangMenuItem
# pages/src/components/ProductListings/LangMenuItems
# pages/src/components/ProductListings/ListingLayout
# pages/src/components/ProductListings/Meta
# pages/src/components/ProductListings/Pagination
# pages/src/components/ProductListings/NextLink
# pages/src/components/ProductListings/ProductHeader
# pages/src/components/ProductListings/Reviews
# pages/src/components/ProductListings/Search
# pages/src/components/ProductListings/Sizing
# pages/src/components/ProductListings/ThemeSwitch
# pages/src/components/ProductListings/Thumbnail
# pages/src/components/Progress/Bar
# pages/src/components/Progress/Container
# pages/src/components/Progress/Preload
# pages/src/components/Progress/Progress
# pages/src/components/Progress
# pages/src/components/Studio/Svgomg/controller/main-controller
# pages/src/components/Studio/Svgomg/controller/utils
# pages/src/components/Studio/Svgomg/ui/code-output
# pages/src/components/Studio/Svgomg/ui/output
# pages/src/components/Studio/Svgomg/ui/pan-zoom
# pages/src/components/Studio/Svgomg/ui/svg-output
# pages/src/components/TestMenu
# pages/types
# pages/server/lib/database/firebase-adapter
# pages/server/lib/database/firebaseFirestore
# pages/server/lib/database/firebaseStorage
# pages/src/components/Studio
# pages/PageTitle

# 3D models
/public/models

# dependencies
/node_modules
/.pnp
.pnp.js
/.history
.env.local
.env.*
!.env.local.example

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
