/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fuzzy+Bubbles:wght@400;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fuzzy+Bubbles:wght@400;700&family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* html {
  padding: 0;
  margin: 0;
  height: 100%;
} */

html,
body {
  /* top: 0;
	left: 0; */
  padding: 0;
  margin: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}

/* html,
body {
	height: 100%;
} */

@layer components {
  .glass {
    @apply bg-white bg-opacity-20 shadow-glass border border-solid border-white border-opacity-25 rounded-[20px] backdrop-blur-[4px];
  }
  .design-container {
    @apply list-none w-[100px] h-[100px] my-[10px] flex justify-center items-center;
  }

  /*
  .design-container {
    @apply list-none w-full h-full flex justify-center items-center absolute top-0 left-0;
  }*/
  .design {
    @apply w-[80%] transition duration-500 transform hover:rotate-[-35deg];
  }
  .size {
    @apply list-none w-[30px] h-[30px] bg-white text-[#1e6b7b] flex justify-center items-center m-[5px] border rounded-[4px] font-bold cursor-pointer transition duration-[0.25s] transform hover:translate-y-[-10px] shadow-size;
  }
  .asset {
    @apply h-14 w-14 object-fill;
  }

  .glass-header-item-container {
    @apply list-none mx-[10px] md:m-[2px];
  }

  .glass-header-item {
    @apply md:inline-block no-underline font-medium text-[#8a2435] py-[8px] px-[15px] rounded-[25px] hover:bg-white hover:shadow-glass1a active:bg-white active:shadow-glass1a;
  }

  .glass-header-unit {
    @apply md:mx-[10px] no-underline w-[50px] h-[50px] bg-[#fff] flex justify-center items-center rounded-[50%] my-[5px] shadow-glass1a;
  }

  .unit-movement {
    @apply object-contain h-32 w-32 transform scale-[0.6] transition duration-[0.5s] hover:transform hover:scale-[0.6] hover:rotate-[360deg];
  }

  .unit-container {
    @apply list-none;
  }

  .color {
    @apply absolute blur-[150px] first:top-[-350px] first:w-[600px] first:h-[600px] first:bg-[#ff359b];
  }
  .square {
    /* no adding calculated css variables that reference js */
    @apply absolute backdrop-blur-[5px] bg-opacity-10 shadow-glass3 border border-white border-opacity-50 rounded-[10px] animate-squaremove 
		first:top-[-50px] first:right-[-60px] first:w-[100px] first:h-[100px] 
		/* delay-[calc(-1s_*_var(--i))] */;
  }
  .inputBox {
    @apply w-full mt-[20px];
  }
  .input {
    @apply text-[16px] tracking-[1px] text-gray-700 w-full bg-white/20 outline-none py-[10px] px-[20px] border border-white/50 rounded-[35px] shadow-glass3a placeholder-gray-500;
  }
}

.border-top-left-glass {
  border-top: 1px solid rgba(255, 255, 255, 0.5) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.border-bottom-right-glass {
  border-right: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.square-delay {
  animation-delay: calc(-1s * var(--i));
}

.stripe {
  @apply font-grandstander text-base text-gray-800 font-normal;
}

.stripe-modal,
.stripe-modal__container,
.stripe-cart__content,
.stripe-cart-header,
.stripe-featured-payment-methods__title {
  @apply bg-gray-50;
}

.stripe__font--regular,
.stripe__font--primary,
.stripe__font--secondary,
.stripe__font--subtitle {
  @apply font-sans leading-normal;
}

.stripe__font--subtitle {
  @apply font-semibold text-lg md:text-xl;
}

.stripe-cart-button--highlight {
  background-image: none;
  @apply bg-blue-600 rounded;
}

.stripe__box--badge-highlight {
  background-image: none;
  @apply bg-blue-600 text-white font-medium;
}

.stripe__actions--link {
  @apply text-blue-600 font-normal text-sm;
}

.stripe-cart-summary-fees__notice {
  @apply text-sm text-gray-500 my-6;
}

.stripe-shipping-rates-list-item--highlight {
  @apply border-blue-600 bg-white;
}

.stripe-form-radio {
  @apply text-blue-600 border-gray-300 shadow-sm focus:ring-0 p-0;
}

.stripe-form-radio + label {
  @apply text-gray-500 text-sm;
}

.stripe-form-radio + label:before {
  background-image: none;
  @apply rounded-full w-4 h-4 min-w-0 min-h-0 shadow-sm flex items-center border border-gray-300 cursor-pointer;
}

.stripe-form-radio:checked + label:before {
  background-image: none;
  @apply bg-blue-600;
}

.stripe-form-radio:checked + label:after {
  @apply hidden;
}

.stripe-shipping-rates-list-item__price {
  @apply text-gray-900 text-sm leading-5;
}

/* base styles & title */
body {
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.title h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form {
  margin: 30px auto 10px;
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover {
  background: var(--primary);
  color: white;
}
.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

/*
#root {
  display: flex;
  align-items: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
/*
button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

button:hover {
  filter: contrast(115%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

spinner/processing state, errors
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}
*/
