@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {
ol {
  @apply list-disk;
}
}*/

/*:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}*/

/* html {
  padding: 0;
  margin: 0;
  height: 100%;
} */

html,
body {
  /*top: 0;
  left: 0;
  position: absolute;*/
  padding: 0;
  margin: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}

/*@layer base {
  body {
    @apply bg-black;
    @apply bg-[#4C8EFF];

    &.dark {
      @apply bg-gray-300;
      @apply bg-gray-800;
    }
  }
}*/

@layer components {
  /*ol {
    @apply list-disk;
  }*/

  .floating-square-0 {
    @apply square glass-container square-delay;
  }

  .floating-square-1 {
    @apply square glass-container top-[9.375em] left-[-6.25em] w-[7.5em] h-[7.5em] z-20 square-delay;
  }

  .floating-square-2 {
    @apply square glass-container bottom-[3.125em] right-[-3.75em] w-[5em] h-[5em] z-20 square-delay;
  }

  .floating-square-3 {
    @apply square glass-container bottom-[-5em] left-[6.25em] w-[3.125em] h-[3.125em] square-delay;
  }

  .floating-square-4 {
    @apply square glass-container top-[-5em] vs:left-[3.75em] xs:left-[4.75em] mobile-l:left-[5.75em] tablet:left-[6.75em] tablet-l:left-[7.75em] laptop:left-[8.75em] w-[3.75em] h-[3.75em] delay-[-7000ms] square-delay;
  }

  .form-container {
  }

  .form-body {
    @apply relative w-full h-full p-[2.5em];
  }

  .form-header {
    @apply relative text-black dark:text-[#4C8EFF] text-[1.5em] font-semibold tracking-[0.0625em] mb-[2.5em] before:absolute before:left-0 before:bottom-[-0.625em] before:w-[5em] before:h-[0.25em] before:bg-gray-800 dark:before:bg-gray-300;
  }

  .parent-container {
    @apply border-top-left-glass border-bottom-right-glass rounded-[0.625em];
  }

  .modal-wrapper {
    @apply absolute top-0 bottom-0 left-0 right-0;
  }

  .modal-backdrop {
    @apply fixed top-0 bottom-0 left-0 right-0 z-[100] bg-gray-800/50 dark:bg-gray-300/50 h-full w-full;
  }

  .modal-box {
    @apply fixed top-[50%] left-[50%] transform translate-x-[0%] translate-y-[0%] h-[0%] w-[0%] overflow-visible bg-transparent z-[101] bg-gray-300 dark:bg-gray-800 shadow-login-modal dark:shadow-login-modal-dark flex items-center justify-center;
  }

  /*.asset-placement {
    @apply justify-self-start place-self-end lg:justify-self-start lg:place-self-end;
  }

  .asset-placement-0 {
    @apply place-self-start justify-self-end lg:justify-self-end lg:place-self-start;
  }

  .asset-placement-1 {
    @apply place-self-end justify-self-start lg:justify-self-end lg:place-self-start;
  }

  .asset-placement-2 {
    @apply place-self-start justify-self-end lg:justify-self-end lg:place-self-start;
  }*/

  /*.asset-placement {
    @apply animate-breath1;
  }

  .asset-placement-0 {
    @apply animate-breath2;
  }

  .asset-placement-1 {
    @apply animate-breath3;
  }

  .asset-placement-2 {
    @apply animate-breath4;
  }*/

  /*.grid-space {
    @apply col-span-1 sm:row-span-1 sm:col-span-1;
  }*/

  .glass {
    @apply bg-white bg-opacity-20 shadow-glass border border-solid border-white border-opacity-25 rounded-[20px] backdrop-blur-[4px];
  }
  .design-container {
    @apply list-none w-[6.25em] h-[6.25em] my-[0.625em] flex justify-center items-center;
  }
  /*took out my-[0.625em]*/

  /*
  .design-container {
    @apply list-none w-full h-full flex justify-center items-center absolute top-0 left-0;
  }*/
  .design {
    @apply w-[80%] transition duration-500 transform hover:rotate-[-35deg];
  }
  .size {
    @apply list-none w-[30px] h-[30px] bg-white text-[#1e6b7b] flex justify-center items-center m-[5px] border rounded-[4px] font-bold cursor-pointer transition duration-[0.25s] transform hover:translate-y-[-10px] shadow-size;
  }
  .asset {
    @apply blur-[0.2em] h-[2.714286em] w-[2.714286em] xs:h-[3em] xs:w-[3em] sm:h-[3.2857143em] sm:w-[3.2857143em] md:h-[3.571429em] md:w-[3.571429em] lg:h-[3.857143em] lg:w-[3.857143em] xl:h-[4.142857em] xl:w-[4.142857em]  2xl:h-[4.428571em] 2xl:w-[4.428571em] 3xl:h-[4.714286em] 3xl:w-[4.714286em] 4vl:h-[5em] 4vl:w-[5em];
  }

  .glass-header-item-container {
    @apply list-none mx-[10px] md:m-[2px];
  }

  .glass-header-item {
    @apply md:inline-block no-underline font-medium text-[#8a2435] py-[8px] px-[15px] rounded-[25px] hover:bg-white hover:shadow-glass1a active:bg-white active:shadow-glass1a;
  }

  .glass-header-unit {
    @apply md:mx-[10px] no-underline w-[50px] h-[50px] bg-[#fff] flex justify-center items-center rounded-[50%] my-[5px] shadow-glass1a;
  }

  .unit-movement {
    @apply object-contain h-32 w-32 transform scale-[0.6] transition duration-[0.5s] hover:transform hover:scale-[0.6] hover:rotate-[360deg];
  }

  .unit-container {
    @apply list-none;
  }

  .color {
    @apply absolute blur-[10em] first:top-[-350px] first:w-[600px] first:h-[600px] first:bg-[#ff359b];
  }
  .square {
    /* no adding calculated css variables that reference js */
    @apply absolute backdrop-blur-[5px] bg-opacity-10 shadow-glass3 border border-white border-opacity-50 rounded-[0.625em] animate-squaremove 
		first:top-[-50px] first:right-[-60px] first:w-[100px] first:h-[100px] 
		/* delay-[calc(-1s_*_var(--i))] */;
  }
  .inputBox {
    @apply w-full mt-[1.25em];
  }

  .input {
    @apply text-[1em] tracking-[0.025em] text-gray-800 dark:text-gray-300 w-full bg-gray-800/30 dark:bg-gray-300/30 outline-none py-[0.625em] px-[1.25em] border border-gray-300/50 dark:border-gray-800/50 rounded-[2.1875em] shadow-glass3a placeholder-gray-800 dark:placeholder-gray-300;
  }

  .checkout-input-container {
    @apply text-[1em] tracking-[0.025em] text-gray-800 dark:text-gray-300 w-full bg-gray-800/30 dark:bg-gray-300/30 outline-none border-gray-300/50 dark:border-gray-800/50  shadow-glass3a placeholder-gray-800 dark:placeholder-gray-300;
  }

  .submit-input {
    @apply input input-glass-container text-black dark:text-[#4C8EFF] bg-gray-300/40 dark:bg-gray-800/40 max-w-[10.25em] cursor-pointer mb-[1.25em] font-semibold;
  }

  .checkout-input {
    @apply checkout-input-container input-glass-container text-black dark:text-[#4C8EFF] bg-gray-300/40 dark:bg-gray-800/40 max-w-[10.25em] cursor-pointer font-semibold;
  }

  .featured-container {
    /*@apply xs:h-[2.167em] xs:w-[2.167em] sm:h-[4.334em] sm:w-[4.334em] md:h-[6.501em] md:w-[6.501em] lg:h-[8.668em] lg:w-[8.668em] xl:h-[10.835em] xl:w-[10.835em] 2xl:h-[13.002em] 2xl:w-[13.002em] 3xl:h-[15.169em] 3xl:w-[15.169em] SL:h-[] SL:w-[];*/

    /* @apply h-[4em] w-[4em] xs:h-[4.857143em] xs:w-[4.857143em] sm:h-[5.714286em] sm:w-[5.714286em] md:h-[6.571429em] md:w-[6.571429em] lg:h-[7.428571em] lg:w-[7.428571em] xl:h-[8.285714em] xl:w-[8.285714em] 2xl:h-[9.142857em] 2xl:w-[9.142857em] 3xl:h-[8.4em] 3xl:w-[8.4em] 4vl:h-[10em] 4vl:w-[10em];*/

    /*@apply h-[4em] w-[4em] xs:h-[5em] xs:w-[5em] sm:h-[6em] sm:w-[6em] md:h-[7em] md:w-[7em] lg:h-[8em] lg:w-[8em] xl:h-[9em] xl:w-[9em] 2xl:h-[10em] 2xl:w-[10em] 3xl:h-[11em] 3xl:w-[11em] 4vl:h-[12em] 4vl:w-[12em];*/

    @apply h-[4em] w-[4em] xs:h-[4.625em] xs:w-[4.625em] sm:h-[5.25em] sm:w-[5.25em] md:h-[5.875em] md:w-[5.875em] lg:h-[6.5em] lg:w-[6.5em] xl:h-[7.125em] xl:w-[7.125em] 2xl:h-[7.75em] 2xl:w-[7.75em] 3xl:h-[8.375em] 3xl:w-[8.375em] 4vl:h-[9em] 4vl:w-[9em];
  }

  .featured-scale {
    @apply h-full absolute scale-y-[100%] xs:scale-x-[9.25%] sm:scale-x-[15%] md:scale-x-[25%] md:scale-y-[115%] lg:scale-x-[35%] lg:scale-y-[120%] xl:scale-x-[45%] 2xl:scale-x-[55%] 3xl:scale-x-[65%] 4vl:scale-x-[75%];
  }
  .featured-scale-mid {
    @apply xs:scale-x-[20%] xs:scale-y-[195%] sm:scale-x-[40%] md:scale-x-[60%] lg:scale-x-[90%] xl:scale-x-[120%] 2xl:scale-x-[150%] 3xl:scale-x-[180%] 4vl:scale-x-[200%];
  }

  .featured-scale-bottom {
    @apply xs:scale-x-[25%] xs:scale-y-[178%] sm:scale-x-[50%] sm:scale-y-[181%] md:scale-x-[85%] md:scale-y-[183%] lg:scale-x-[110%] lg:scale-y-[185%] xl:scale-x-[140%] xl:scale-y-[187%] 2xl:scale-x-[170%] 2xl:scale-y-[187.3%] 3xl:scale-x-[215%] 3xl:scale-y-[187.7%] 4vl:scale-x-[250%] 4vl:scale-y-[188%];
  }

  .featured-scale-bottom-right {
    @apply xs:scale-x-[15%] xs:scale-y-[178%] sm:scale-x-[50%] sm:scale-y-[160%] md:scale-x-[58%] md:scale-y-[161%] lg:scale-x-[90%] lg:scale-y-[140%] xl:scale-x-[120%] xl:scale-y-[135%] 2xl:scale-x-[140%] 2xl:scale-y-[125%] 3xl:scale-x-[160%] 3xl:scale-y-[125.03%] 4vl:scale-x-[180%] 4vl:scale-y-[112%];
  }

  .glass-container {
    @apply border-top-left-glass border-bottom-right-glass bg-gray-300/50 dark:bg-gray-800/50  shadow-glass dark:shadow-dark-glass rounded-[0.625em] backdrop-blur-[0.25em];
  }

  .input-glass-container {
    @apply border-top-left-glass border-bottom-right-glass bg-gray-800/50 dark:bg-gray-300/50 shadow-glass dark:shadow-dark-glass rounded-[0.625em] backdrop-blur-[0.25em];
  }

  .menu-toggle:before {
    @apply content-[''] absolute h-[0.125em] w-[1.875em] bg-gray-900 dark:bg-[#4C8EFF] transform transition-all duration-500;
  }

  .menu-toggle:after {
    @apply content-[''] absolute h-[0.125em] w-[1.875em] bg-gray-900 dark:bg-[#4C8EFF] transform transition-all duration-500 shadow-menu dark:shadow-dark-menu;
  }

  .filter-container {
    @apply border border-transparent rounded-[0.625em] laptop-l:w-full flex-1 list-none;
  }

  .filter-icon-list-container {
    @apply flex items-center justify-center gap-[1.5em] laptop-l:gap-[1em] laptop-l:max-w-full flex-1;
  }

  .filter-icon-glass-container {
    @apply cursor-pointer hover:bg-gray-300/50 dark:hover:bg-gray-800/50 border border-gray-800/20 dark:border-gray-300/20 bg-gray-800/10 dark:bg-gray-300/10 shadow-glass dark:shadow-dark-glass rounded-[0.625em] h-[2.5rem] min-w-[2.5rem] flex items-center justify-center;
  }

  .filter-icon-size {
    @apply h-[1.5em] w-[1.5em];
  }

  .filter-text-container {
    @apply min-w-[10rem] flex justify-start laptop-l:max-w-full flex-1;
  }

  .socials-container {
    @apply absolute w-full h-screen flex justify-center items-center bg-gradient-to-b from-[#ff4f8b] to-[#dff1ff] transition-all;
  }

  .socials-container::before {
    @apply content-[''] absolute w-full h-1/2 bottom-0 z-[10] border-top-left-glass backdrop-blur-[0.625em] transition-all bg-gray-900/10;
  }

  .socials-list-container {
    @apply relative flex flex-col gap-[1em];
  }

  .socials-icon-list-container {
    @apply relative list-none flex-1;
  }

  .socials-icon-transition {
    @apply border-top-left-glass relative top-0 min-w-[3em] min-h-[3em] flex justify-center rounded-[0.625em] items-center border-bottom-right-glass bg-gray-900/10 backdrop-blur-[0.25em] z-[1] overflow-hidden transition-all no-underline;
  }

  .socials-icon-transition:hover {
    @apply delay-[0s,_0.5s,_0.5s] transform top-[-3.125em] translate-y-[3.125em] z-[11];
  }

  .socials-icon-transition:before {
    @apply content-[''] absolute top-0 left-0 w-[3.125em] h-full bg-gray-50/50 transform skew-x-[45deg] translate-x-[9.375em] transition-all duration-[0.5s];
  }

  .socials-icon-transition:hover:before {
    @apply transform skew-x-[45deg] translate-x-[-9.375em] transition-all;
  }

  input + label {
    @apply flex items-center;
  }

  /*input:focus ~ .line,
  input:valid ~ .line {
    @apply h-full;
  }

  /* input + label::before {
    @apply block w-[2em] h-[1em] bg-gray-400 border-radius-[1em] mr-[1rem];
  } */

  /* input:focus + label::before {
    @apply ring ring-sky-800 transition-none;
  }

  input:checked + label::before {
    @apply transform bg-blue-300 transition;
  }

  input:checked + label::after {
    @apply content-['\2713'] text-green-400 transform translate-x-[100%] bg-green-700 transition-transform duration-200 ease-in-out;
  }

  input:checked + label {
    @apply text-red-400 relative;
  } */

  /* input:checked + label {
    @apply text-red-400;
  } */

  /*.shape {
    @apply h-[40vh] dark:bg-blue-700 bg-red-400 blur-[40em] backdrop-blur-3xl z-0;
  }*/

  /*.shape-top {
    @apply h-[50vh] bg-gradient-to-br dark:bg-gradient-to-br from-red-400 via-fuchsia-300 to-blue-900 dark:text-blue-300 text-red-900 bg-size-200 bg-pos-0 dark:bg-pos-100 opacity-70 z-40 relative blur-[10em] border rounded-3xl;
  }*/

  .shape-top {
    @apply h-[50vh] bg-red-500 dark:bg-blue-900 dark:text-blue-300 text-red-900  z-40 relative blur-[0em];
  }

  .shape-bottom {
    /*@apply p-[1em] bg-red-500 mb-[1em] pb-[1em] text-center;*/
    @apply h-[50vh] bg-gradient-to-br dark:bg-gradient-to-tl from-red-400 via-fuchsia-300 to-blue-900 dark:text-blue-300 text-red-900 bg-size-200 bg-pos-0 dark:bg-pos-0 opacity-70 z-40 relative blur-[10em];
  }

  .content-container {
    @apply mt-[-250em] mb-[-250em] xs:mt-[-221.25em] xs:mb-[-221.25em] sm:mt-[-192.5em] sm:mb-[-192.5em] md:mt-[-163.75em] md:mb-[-163.75em] lg:mt-[-135em] lg:mb-[-135em] xl:mt-[-106.25m] xl:mb-[-106.25m] 2xl:mt-[-77.5em] 2xl:mb-[-77.5em] 3xl:mt-[-48.75em] 3xl:mb-[-48.75em] 4vl:mt-[-20em] 4vl:mb-[-20em];
  }

  /*.shape {
    @apply p-[1em] bg-red-500 mb-[1em] pb-[1em] text-center;
    @apply [40vh];
  }*/

  .initial-page-loaders {
    @apply absolute whitespace-nowrap leading-[100vh] flex h-full items-center justify-center w-full animate-initial-page-load;
  }

  .custom-clip-container {
    @apply blur-[1em] absolute top-0 left-0 z-40 flex justify-center items-center w-full h-full flex-1 grow;
  } /*max blur is 7em*/

  .custom-clips {
    @apply flex-1 grow absolute top-0 left-0 h-full w-full before:content-[''];
  }

  .clip-color-1 {
    @apply bg-gray-50 dark:bg-gray-900;
  }

  .clip-color-2 {
    @apply bg-gray-50 dark:bg-gray-900;
  }

  .clip-color-3 {
    @apply bg-gray-50 dark:bg-gray-900;
  }

  .clip-color-4 {
    @apply bg-red-400 dark:bg-blue-900;
  }

  .glass-form-section {
    @apply relative flex-1 flex items-center justify-center h-full w-full rounded-[0.625em] bg-gray-300/90 dark:bg-gray-800/90;
  }

  .glass-form-container {
    @apply h-full flex-1 relative z-[1000] w-full py-[1.5em] px-[2.5em] bg-gray-300/90 dark:bg-gray-800/90 shadow-glass-form dark:shadow-glass-form-dark glass-container overflow-hidden backdrop-blur-[0.5em] before:content-[''] before:absolute before:top-0 before:left-[-40%] before:w-full before:h-full before:pointer-events-none before:transform before:skew-x-[-15deg] flex flex-col items-center justify-center;
  }

  .glass-form-header {
    @apply w-full text-center text-[1.25em] lg:text-[2.25em];
  }

  .glass-form-single-row {
    @apply flex flex-col items-center justify-center w-full h-full text-xs;
  }

  .glass-form-row {
    @apply relative h-full w-full grid grid-cols-onboarding_form;
  }

  .glass-form-column {
    @apply relative w-full px-[0.5em] mt-[1.25em] mb-[1em];
  }

  .glass-form-input-container {
    @apply relative w-full h-[2.5em] flex border border-transparent rounded-[0.625em];
  }

  .glass-form-input {
    @apply absolute p-[0.625em] text-[0.9375em] text-current outline-none z-[1] h-full w-full bg-transparent shadow-none border-none text-gray-300 dark:text-gray-800;
  }

  .glass-form-text {
    @apply whitespace-nowrap absolute top-0 left-0 leading-[2.5em] text-[1.125em] px-[0.625em] block transition-all duration-[0.5s] pointer-events-none;
  }

  .glass-form-textarea {
    @apply overflow-hidden resize-none text-current bg-transparent shadow-none border-none outline-none z-[1] h-full w-full absolute text-[0.9375em] p-[0.625em];
  }

  .glass-form-line {
    @apply bg-gray-800/80 dark:bg-gray-300/80 absolute bottom-0 block w-full h-[0.125em] transition-all duration-[0.5s] rounded-[0.625em] pointer-events-none;
  }

  .glass-form-textarea:focus + .glass-form-text,
  .glass-form-textarea:valid + .glass-form-text,
  .glass-form-input:focus + .glass-form-text,
  .glass-form-input:valid + .glass-form-text {
    @apply top-[-2.1875em] left-[-0.625em];
  }

  .glass-form-textarea:focus ~ .glass-form-line,
  .glass-form-textarea:valid ~ .glass-form-line {
    @apply h-full;
  }

  .glass-form-input:focus ~ .glass-form-line,
  .glass-form-input:valid ~ .glass-form-line {
    @apply h-full;
  }

  .glass-form-submit {
    @apply border-none py-[0.625em] px-[2.5em] cursor-pointer outline-none bg-gray-300/50 dark:bg-gray-800/50 text-gray-800 dark:text-gray-300 text-[1em] rounded-[0.625em];
  }

  .glass-progress-bar-container {
    @apply bg-gray-300 dark:bg-gray-800 rounded-[0.625em] w-[40vw] h-[1vh] mb-[3.125em] flex items-center justify-center;
  }

  .glass-progress-bar {
    @apply w-[100%] h-full bg-black dark:bg-[#4C8EFF] rounded-[0.625em];
  }

  .terms-text-head {
    @apply text-[1.2em] lg:text-2xl;
  }

  .terms-text-update {
    @apply text-[1.1em] lg:text-xl;
  }

  .terms-text-mid {
    @apply text-[1.0em] lg:text-base;
  }

  .terms-text-sub {
    @apply text-[0.9em] lg:text-sm;
  }

  .information-heading {
    @apply flex flex-col items-center justify-center h-[12em] w-full;
  }

  .information-container {
    @apply h-[20em] w-full flex items-center justify-center flex-col text-[0.75em];
  }

  .information-footing {
    @apply flex items-center justify-center pt-[2em];
  }

  .firebase-progress {
    @apply h-[0.3125em] bg-black dark:bg-[#4C8EFF] mt-[1.25em];
  }

  .svg-grid {
    @apply m-[1.25em] h-full w-full grid grid-cols-svg_grid gap-[2.5em];
  }

  .svg-wrap {
    @apply overflow-hidden h-0 py-[50%] relative opacity-[80%];
  }

  .svgs {
    @apply h-full w-full absolute top-0 left-0;
  }

  .svg-container {
    @apply max-w-[80em] mx-auto;
  }

  .svg-backdrop {
    @apply fixed top-0 left-0 w-full h-full bg-gray-800/50 dark:bg-gray-300/50 z-[100];
  }

  .svg-display {
    @apply block max-w-[60%] max-h-[80%] my-[3.75em] mx-auto shadow-svg_display dark:shadow-svg_display_dark glass-container;
  }

  .svg-form-container {
    @apply mt-[1.875em] mr-auto mb-[0.625em] text-center;
  }

  .title-container {
    @apply flex flex-col items-center justify-center text-center;
  }

  .svg-label-input {
    @apply block w-[1.875em] h-[1.875em] leading-[1.875em] glass-container font-bold text-[1.5em] my-[0.625em] mx-auto hover:bg-gray-800 hover:text-gray-300 dark:hover:bg-gray-300 dark:hover:text-gray-800 cursor-pointer;
  }

  .svg-input {
    @apply h-0 w-0 opacity-0;
  }

  .svg-output-container {
    @apply h-[3.75em] text-[0.8em];
  }

  .svg-input-error {
    @apply text-red-500;
  }

  .first-header {
    @apply text-[2.6em] tracking-[0.125em] font-normal;
  }

  .second-header {
    @apply text-[1.2em] mt-[3.75em];
  }
}

section .color {
  position: absolute;
  filter: blur(150px);
}

section .color:nth-child(1) {
  top: -350px;
  background: #ff359b;
  width: 600px;
  height: 600px;
}

section .color:nth-child(2) {
  bottom: -150px;
  left: 100px;
  background: #fffd87;
  width: 500px;
  height: 500px;
}

section .color:nth-child(3) {
  bottom: -50px;
  right: 0px;
  background: #00d2ff;
  width: 300px;
  height: 300px;
}

.social-glass-transition-delay {
  transition: top 0.5s, z-index 0s, transform 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}

/* .social-glass-transition-hover { */
/* ul li a:hover {
  transition-delay: 0s, 0.5s, 0.5s;
} */

/* .hover-delay {
  transition-delay: 0s, 0.5s, 0s;
} */

.social-glass-transitio #background {
  background-image: url('https://blog.mozilla.org/wp-content/blogs.dir/278/files/2021/02/ff_blog_header_ff_1400x770.jpg');
  background-position: center;
  background-size: cover;
}

.card {
  background-color: hsla(0, 0%, 97%, 0.2);
  border: 1px solid hsla(0, 0%, 97%, 0.4);
  height: 66%;
  width: 66%;
}

.glassmorphism {
  position: relative;
}
.glassmorphism::before {
  background-attachment: fixed;
  background-image: -moz-element(#background);
  content: '';
  filter: blur(10px); /* ADDED */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/*.border-top-left-glass {
  border-top: 0.0625em solid rgba(0, 0, 0, 0.5) !important;
  border-left: 0.0625em solid rgba(0, 0, 0, 0.5) !important;
}

.border-bottom-right-glass {
  border-right: 0.0625em solid rgba(0, 0, 0, 0.2) !important;
  border-bottom: 0.0625em solid rgba(0, 0, 0, 0.2) !important;
}*/

/* -webkit-transition: background 1s ease-out;
-moz-transition: background 1s ease-out;
-o-transition: background 1s ease-out;
transition: background 1s ease-out; */

/* .theme-transition {
  transition: background 2000ms ease-in-out, color 1000ms ease-in-out !important;
} */

.clipped-shape-top {
  /*clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);*/
  /*clip-path: polygon(
    50% 0%,
    100% 0px,
    65.62% 218.75%,
    0.05% 372.5%,
    0px 65%,
    0px 0px
  );*/
  clip-path: polygon(50% 0%, 100% 50%, 75% 100%, 0 50%, 0 25%);
}

/* Top Left */
.clipped-top-left-edge {
  clip-path: polygon(0 0, 25% 0%, 0 25%);
}
.clipped-top-left-strip {
  clip-path: polygon(25% 0, 50% 0%, 0 50%, 0 25%);
}
.clipped-top-left-center {
  clip-path: polygon(50% 0, 50% 50%, 0 50%);
}
.clipped-top-left-pent {
  clip-path: polygon(
    6.25% 6.25%,
    25% 12.5%,
    37.5% 12.5%,
    43.75% 25%,
    25% 25%,
    25% 43.75%
  );
}

/* Top Left Half */
.clipped-top-left-edge-0 {
  clip-path: polygon(6.25% 6.25%, 25% 0%, 0 25%);
}
.clipped-top-left-strip-0 {
  clip-path: polygon(25% 0, 50% 0%, 0 50%, 0 25%);
}
.clipped-top-left-center-0 {
  clip-path: polygon(50% 0, 50% 50%, 0 50%);
}
.clipped-top-left-pent-0 {
  clip-path: polygon(
    6.25% 6.25%,
    25% 12.5%,
    37.5% 12.5%,
    43.75% 25%,
    25% 25%,
    25% 43.75%
  );
}

/*Top Right*/
.clipped-top-right-edge {
  clip-path: polygon(100% 0, 75% 0%, 100% 25%);
}
.clipped-top-right-strip {
  clip-path: polygon(100% 25%, 100% 50%, 50% 0, 75% 0);
}
.clipped-top-right-center {
  clip-path: polygon(100% 50%, 50% 50%, 50% 0);
}
.clipped-top-right-pent {
  clip-path: polygon(
    93.75% 6.25%,
    75% 43.75%,
    75% 25%,
    56.25% 25%,
    62.5% 12.5%,
    75% 12.25%
  );
}

/*Bottom Right*/
.clipped-bottom-right-edge {
  clip-path: polygon(100% 100%, 75% 100%, 100% 75%);
}
.clipped-bottom-right-strip {
  clip-path: polygon(75% 100%, 50% 100%, 100% 50%, 100% 75%);
}
.clipped-bottom-right-center {
  clip-path: polygon(100% 50%, 50% 100%, 50% 50%);
}
.clipped-bottom-right-pent {
  clip-path: polygon(
    93.75% 93.75%,
    75% 87.75%,
    62.5% 87.75%,
    56.25% 75%,
    75% 75%,
    75% 56.25%
  );
}

/*Bottom Left*/
.clipped-bottom-left-edge {
  clip-path: polygon(0 100%, 0 75%, 25% 100%);
}
.clipped-bottom-left-strip {
  clip-path: polygon(0 75%, 0 50%, 50% 100%, 25% 100%);
}
.clipped-bottom-left-center {
  clip-path: polygon(0 50%, 50% 50%, 50% 100%);
}
.clipped-bottom-left-pent {
  clip-path: polygon(
    6.25% 93.75%,
    25% 56.25%,
    25% 75%,
    43.75% 75%,
    37.25% 87.75%,
    25% 87.75%
  );
}

.clipped-shape-bottom {
  /*clip-path: polygon(50% 0%, 100% 65%, 100% 100%, 50% 100%, 0 100%, 0 65%);*/
  /*clip-path: polygon(
    50% 0%,
    100% 0px,
    65.62% 218.75%,
    0.05% 372.5%,
    0px 65%,
    0px 0px
  );*/
  clip-path: polygon(25% 0%, 100% 50%, 100% 75%, 50% 100%, 0 100%, 0 50%);
}

.triangle-page {
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.border-top-left-glass {
  border-top: 0.0625em solid rgba(255, 255, 255, 0.5) !important;
  border-left: 0.0625em solid rgba(255, 255, 255, 0.5) !important;
}

.border-bottom-right-glass {
  border-right: 0.0625em solid rgba(255, 255, 255, 0.2) !important;
  border-bottom: 0.0625em solid rgba(255, 255, 255, 0.2) !important;
}

.dark-border-top-left-glass {
  border-top: 0.0625em solid rgba(255, 255, 255, 0.5) !important;
  border-left: 0.0625em solid rgba(255, 255, 255, 0.5) !important;
}

.dark-border-bottom-right-glass {
  border-right: 0.0625em solid rgba(255, 255, 255, 0.2) !important;
  border-bottom: 0.0625em solid rgba(255, 255, 255, 0.2) !important;
}

.square-delay {
  animation-delay: calc(-1s * var(--i));
}

/* .stripe {
  @apply font-grandstander text-base text-gray-800 font-normal;
}

.stripe-modal,
.stripe-modal__container,
.stripe-cart__content,
.stripe-cart-header,
.stripe-featured-payment-methods__title {
  @apply bg-gray-50;
}

.stripe__font--regular,
.stripe__font--primary,
.stripe__font--secondary,
.stripe__font--subtitle {
  @apply font-sans leading-normal;
}

.stripe__font--subtitle {
  @apply font-semibold text-lg md:text-xl;
}

.stripe-cart-button--highlight {
  background-image: none;
  @apply bg-blue-600 rounded;
}

.stripe__box--badge-highlight {
  background-image: none;
  @apply bg-blue-600 text-white font-medium;
}

.stripe__actions--link {
  @apply text-blue-600 font-normal text-sm;
}

.stripe-cart-summary-fees__notice {
  @apply text-sm text-gray-500 my-6;
}

.stripe-shipping-rates-list-item--highlight {
  @apply border-blue-600 bg-white;
}

.stripe-form-radio {
  @apply text-blue-600 border-gray-300 shadow-sm focus:ring-0 p-0;
}

.stripe-form-radio + label {
  @apply text-gray-500 text-sm;
}

.stripe-form-radio + label:before {
  background-image: none;
  @apply rounded-full w-4 h-4 min-w-0 min-h-0 shadow-sm flex items-center border border-gray-300 cursor-pointer;
}

.stripe-form-radio:checked + label:before {
  background-image: none;
  @apply bg-blue-600;
}

.stripe-form-radio:checked + label:after {
  @apply hidden;
}

.stripe-shipping-rates-list-item__price {
  @apply text-gray-900 text-sm leading-5;
} */

/* base styles & title */
body {
  font-family: 'Noto Serif';
  color: var(--secondary);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.title h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
/*form {
  margin: 30px auto 10px;
  text-align: center;
}*/
/*label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover {
  background: var(--primary);
  color: white;
}
.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}*/

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */

  position: relative;
  opacity: 0.8;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop {
  position: fixed;
  /*top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);*/
}
/*.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}*/
/* #root {
  display: flex;
  align-items: center;
} */

/*
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

/*
form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
/*
button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

button:hover {
  filter: contrast(115%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

spinner/processing state, errors
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}
*/

/*.all-blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  filter: url(#blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}*/

/*.all-blur {
  -webkit-filter: blur(4em);
  -moz-filter: blur(4em);
  -ms-filter: blur(4em);
  -o-filter: blur(4em);
  filter: blur(4em);
  filter: url(#blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}*/

.moz-blur {
  -moz-filter: blur(6em);
  filter: blur(6em);
}

/* section {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, #ff4f8b, #dff1ff);
}

section::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0;
	z-index: 10;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
}

section .color {
	position: absolute;
	filter: blur(150px);
}

section .color:nth-child(1) {
	top: -350px;
	background: #ff359b;
	width: 600px;
	height: 600px;
}

section .color:nth-child(2) {
	bottom: -150px;
	left: 100px;
	background: #fffd87;
	width: 500px;
	height: 500px;
}

section .color:nth-child(3) {
	bottom: -50px;
	right: 0px;
	background: #00d2ff;
	width: 300px;
	height: 300px;
}

ul {
	position: relative;
	display: flex;
}

ul li {
	position: relative;
	list-style: none;
	margin: 10px;
}

ul li a {
  position: relative;
  top: 0;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  z-index: 1;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  overflow: hidden;
  transition: top 0.5s, z-index 0s, transform 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}

ul li a:hover {
  transition-delay: 0s, 0.5s, 0.5s;
  top: -50px;
  transform: translateY(50px);
  z-index: 11;
}

ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s;
}

ul li a:hover:before {
  transform: skewX(45deg) translateX(-150px);
}
*/

/*@media screen and (min-width: 20em) {
  .responsive-padding {
    padding-left: 5em;
    padding-top: 10em;
    padding-right: 1em;
    padding-bottom: 1em;
  }
}*/

.modal-overlay {
  position: absolute;
  /*z-index: 50;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 2px;
  padding: 12px 16px;
  position: relative;
  height: 12.5em;
  width: 350px;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 4px;
  font-size: 24px;
  cursor: pointer;
}

/*body {
  overflow-x: hidden;
}*/

/*section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}/*

/*section::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#ffeb3b, #e91e63);
  border-radius: 50%;
  transform: translate(-420px, -11.25em);
}

section::after {
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(#2196f3, #83d8ff);
  border-radius: 50%;
  transform: translate(420px, 11.25em);
}*/

/*.container {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}*/

/*.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  transform: skew(-15deg);
}*/

/*.container h2 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}*/

/*.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}*/

/*.container .row100 .col {
  position: relative;
  width: 100%;
  /*padding: 0 10px;
  margin: 30px 0 20px;
}*/

/*.container .row100 .col .inputBox0 {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
  display: flex;
}*/

/*.container .row100 .col .inputBox0 textarea,
.container .row100 .col .inputBox0 input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 0.9375em;
  padding: 0.625em;
  z-index: 1;
color: #000;
}*/

/*.container .row100 .col .inputBox0 .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 2.5em;
  font-size: 1.125em;
  padding: 0 0.625em;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}*/

/*.container .row100 .col .inputBox0 input:focus + .text,
.container .row100 .col .inputBox0 input:valid + .text,
.container .row100 .col .inputBox0 textarea:focus + .text,
.container .row100 .col .inputBox0 textarea:valid + .text {
  top: -2.1875em;
  left: -0.625em;
}*/

/*.container .row100 .col .inputBox0 .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 0.125em;
  transition: 0.5s;
  border-radius: 0.125em;
  pointer-events: none;
}*/

/*.container .row100 .col .inputBox0 input:focus ~ .line,
.container .row100 .col .inputBox0 input:valid ~ .line {
  height: 100%;
}*/

/*.container .row100 .col .inputBox0.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0.625em 0;
}*/

/*.container .row100 .col .inputBox0 textarea:focus ~ .line,
.container .row100 .col .inputBox0 textarea:valid ~ .line {
  height: 100%;
}*/

/*.container .row100 .col .inputBox0 input[type='submit'] {
  border: none;
  padding: 0.625em 2.5em;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: 1.125em;
  border-radius: 0.125em;
}*/

/*@media (max-width: 48em) {
  section::before {
    transform: translate(-12.5em, -11.25em);
  }
  section::after {
    transform: translate(13.75em, 11.25em);
  }
  .container {
    padding: 1.25em;
  }
  .container h2 {
    font-size: 1.75em;
  }
}*/

/* Hide scrollbar for Chrome, Safari and Opera */
.service-agreement-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.service-agreement-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
